{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Cliente - The Barber House</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="main-container">
    <div class="login-panel">
        <form method="POST" class="login-form">
            {% csrf_token %}
            <h2>Registro de Cliente</h2>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="text" name="cedula" placeholder="Cédula" required>
            <input type="email" name="correo" placeholder="Correo electrónico" required>
            <input type="password" name="contrasenia" placeholder="Contraseña" required>
            <input type="text" name="telefono" placeholder="Teléfono" required>
            {% if error %}
               <p style="color: red; text-align: center;">{{ error }}</p>
            {% endif %}
            
            <button type="submit">REGISTRARSE</button>
            <div class="register-link" style="text-align:center; margin-top:15px;">
                <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
            </div>
        </form>
    </div>
    <div class="image-panel"></div>
</div>
</body>
</html>